.table-fixed {
  width: 100%;
}

/*This will work on every browser but Chrome Browser*/
.table-fixed thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
  background-color: #fff;
}

/*This will work on every browser*/
.table-fixed thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
}
